@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    /* font */
    --font-family-poppins : 'Poppins', sans-serif;

    /* colors */
    
    --custome-red: #ED4C5C;
    --custome-yellow: #F8A541;
    --custome-green: #00A790;
    --custome-blue-shoft: #16ABF8;
    --custome-blue-strong: #428BC1;
    --custome-purple: #8942C1;
    --custome-gray-strong: #4A4A4A;
    --custome-gray-medium: #888888;
    --custome-gray-shoft: #F4F4F4;
    --custome-black: #111111;
}

*{
    font-family: var(--font-family-poppins);
    transition: all 200ms ease-in-out;
}

/* GLOBAL SCROLLBAR */
/* width */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 1rem;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: white !important ;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--custome-gray-medium) !important ;
    border-radius: 1rem;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--custome-gray-medium) !important ;
    filter: brightness(0.85)
}

/* Background Color & event hover btn*/
.bg-custome-blue-shoft { background-color: var(--custome-blue-shoft); }
.btn:hover.bg-custome-blue-shoft { background-color: var(--custome-blue-strong); }
.btn:disabled.bg-custome-blue-shoft { 
    background-color: var(--custome-blue-shoft); 
    opacity: 0.2;
}

.bg-custome-red { background-color: var(--custome-red); }
.btn:hover.bg-custome-red { 
    background-color: var(--custome-red);
    filter: brightness(0.85);
}

.bg-custome-gray-shoft { background-color: var(--custome-gray-shoft); }
.btn:hover.bg-custome-gray-shoft { 
    background-color: var(--custome-gray-medium);
}

.bg-custome-gray-medium { background-color: var(--custome-gray-medium); }
.btn:hover.bg-custome-gray-medium { 
    background-color: var(--custome-gray-medium);
}

.bg-custome-gray-strong { background-color: var(--custome-gray-strong); }
.btn:hover.bg-custome-gray-strong { 
    background-color: var(--custome-gray-strong);
    filter: brightness(0.85);
}

.bg-custome-purpel { background-color: var(--custome-purple); }
.bg-custome-blue-strong { background-color: var(--custome-blue-strong); }
.bg-custome-blue-shoft { background-color: var(--custome-blue-shoft); }
.bg-custome-green { background-color: var(--custome-green); }
.bg-custome-yellow { background-color: var(--custome-yellow); }

/* Text Color */
.text-custome-red{color: var(--custome-red); }
.text-custome-yellow{color: var(--custome-yellow); }
.text-custome-green{color: var(--custome-green); }
.text-custome-blue-shoft{ color: var(--custome-blue-shoft); }
.text-custome-blue-strong{color: var(--custome-blue-strong); }
.text-custome-purple{color: var(--custome-purple); }
.text-custome-gray-strong{color: var(--custome-gray-strong); }
.text-custome-gray-medium{color: var(--custome-gray-medium); }
.text-custome-gray-shoft{color: var(--custome-gray-shoft); }
.text-custome-black{color: var(--custome-black); }

/* Fonts Weight */
.fw-custome-700 { font-weight: 700; }
.fw-custome-600 { font-weight: 600; }
.fw-custome-500 { font-weight: 500; }
.fw-custome-400 { font-weight: 400; }

/* Fonts Size */
.font-custome-36 { font-size: 36px; }
.font-custome-16 { font-size: 16px; }
.font-custome-18 { font-size: 18px; }
.font-custome-14 { font-size: 14px; }
.font-custome-12 { font-size: 12px; }

/* Border Radius */
.rounded-12 { border-radius: 12px; }

/* Box-shadow */
.custome-box-shadow{ box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1)}

/* Cursor Style */
.cursor-pointed { cursor:pointer; }